
.orangeheader{

color:orange;
}
.gray{
color:gray;
}

.blackheader{
color:black;
}


section article{
text-align:center;
display:inline-block;

padding:8px;
border: 1px solid #dddddd;
}

section article a{
color:blue;
text-decoration:none;
display:block;
}

section{

position:relative;
box-sizing:border-box;
padding-top: 30px;
}
 
