
.orangeheader{
ccolor:orange;
}

.gray{
 color:gray;
}

h3 {
  color: blue;
}

.blackheader{
 color:black;
}

main section {
  border-top: 2px solid lightgray;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

main section article {
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
}

