body{
background-color:black;
}

h4{ color: gray;
}

h5{
color:gray;
font-size:20px;
}

.main{
background-color:white;
}

.header{
margin-top:150px;
background-image:url(experiencesjpeg.jpeg);
background-size:cover;
height:120px;
}

input{
width:100%;
height:35px;
border-radius:5px;
}

button{
background-color:red;
color:white;
width:100%;
text-align:center;
height:35px;
margin-top:15px;
border-radius:5px;
}

select{
width:100%;
text-align:left;
height:45px;
}

.where{

color:gray;
margin-top:0px;
padding-top:10px;
font-size:20px;
}

.dates{
width:100%;
}

table{
width:100%;
}

tr,th{
width:100%;
}

h1{
color:white;
}

.firstimage{
text-align:center;
}

