body{
background-color: white;
}

.header{
margin-top:100px;
height:100px;
}

input{
width:100%;
height:35px;
border-radius:5px;
}

h1{
color:white;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 90%;

}

h1 {
background-image:url(experiencesjpeg.jpeg);
background-size:cover;
height:100px;
}

form label,
form input {
margin-top: 5px;
  display: block;
  width: 100%;
}

form input {
  border: 3px solid #ccc;
  border-radius: 2px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.halfwidth {
  width: 50%;
  float: left;
}
.halfwidth.right input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.halfwidth.left input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form input[type="submit"] {
  border: none;
  background: #ea6b6b;
  color: white;

}

a {
  display: inline-block;
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 2.5rem 0 2rem 110px;
  position: relative;
  width: 33%;
  height: 100px;
}

a:hover {
  text-decoration: underline;
}

a img {
  position: absolute;
  left: 0;
  top: 0;
}

