/* Add your CSS here */

a{

color:blue;
text-decoration:none;

}
.main{

text-align:center;
margin-top:10%;

}

.header{

font-size:55px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
h2{

color:gray;
}
.top{
text-align:center;
margin-left:30%;

}
tr,td{
padding:15px;


}
.bottom{
text-align:left;
}
h3{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}